<div class="contenedor" >
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let usuario of usuarios; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{usuario.usuario_nombre}}</td>
       <td>{{usuario.usuario_email}}</td>
           
      <td><button class='btn btn-danger' (click)=eliminarUsuario(usuario.usuario_id)>Eliminar</button></td>
    </tr>
    
  </tbody>
</table>
</div>

